@charset "UTF-8";

h1, h2, h3, h4, div, p, header, ul,
body, section, article, footer, figure {
  margin: 0; padding: 0;
}

html, body {
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.contenedor {
  width: 86%;
  margin: 0 auto;
}

/* Cabecera */
.cabecera {
  text-align: center;
  margin-top: 8px;
}

/* Logo */
.cabecera img {
  width: 42px;
  margin-right: 10px;
  float: left;
}


/*Los p */
.cabecera div {
  margin-top: 6px;
  display: inline-block;  
}

.cabecera > div p {
  color: #333333;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.2;
}

.cabecera div p span {
  color: #707F89;
  font-size: 10px;
  font-weight: 400;
}

.cabecera button {
  float: right;
}

.btn-nav {
  box-sizing: border-box;
  padding: 0;
  outline: none;
  border: none;
  background: none;

  width: 20px;
  height: 14px;
  cursor: pointer;
  color:#2E5180;
}

.btn-nav::before,
.btn-nav::after {
  content: "";
  display: block;
  height: 2px;
  background-color: currentColor;

  
}

.btn-nav::before {
  box-shadow: 0 6px currentColor;
  transform: translateY(-5px);
}

.btn-nav::after {
  transform: translateY(5px);
}


.cabecera button::before {
  transform: translateY(-5px);
  box-shadow: 0 6px currentColor;
}

/*Botón de navegación cerrar*/
.abierto .cabecera button {
  position: relative; /*Necesario para el z-index*/
  z-index: 20;
  color: #ffffff;
}

.abierto .cabecera button::before {
  transform: translateY(1px) rotate(45deg);
  box-shadow: none;
}

.abierto .cabecera button::after {
  transform: rotate(-45deg);
}

/*Menú extendido móvil*/
@media (max-width: 899px) {
  html.abierto,
  .abierto body {
    height: 100%;
    overflow: hidden;
  }
  
  .abierto .form {
    display: none;
  }
  
  .abierto nav {
    left: 0;
  }
  
  .cabecera {
    position: relative;
  }
  
  .nav {
    position: absolute;
    top: 0;
    left: 108%;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    z-index: 10;
   
  }
  
  .nav ul {
    list-style: none;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 0; top: 0;
    right: 0; bottom: 0;
    margin: auto;
    width: 70%; /*Jose puso 50%*/
    height: 30%;

  }
  
  .nav li:not(:last-child) {
    margin-bottom: 40px;
  }
  
  .nav .btn {
    color:inherit;
  }
}


/* Hero */
.hero {
  height: 400px;
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero div {
  position: absolute;
  bottom: 0;
  padding: 18px 0;

  background-color: rgba(255,255,255,0.75);
  text-align: center;
  
}

.hero div p {
  font-size: 15px;
  color: #2E5180;
  margin: 10px 0 -10px 0;
}

.hero div h1 img {
  max-width: 100%;
  height: auto;

}

.mensaje {
  background-color: #2E5180;
  color: white;
  padding: 67px 0;
}

.mensaje h2 {
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  margin-bottom: 38px;
}

.mensaje p {
  font-size: 15px;
  line-height: 1.73;
  text-align: justify;
  padding: 0 15px;
}

/* Servicios */
.servicios {
  text-align: center;
  margin: 67px auto;
}

.servicios h2 {
  font-size: 26px;
  color: #2E5180;

  /*Subrayado*/
  border-bottom: 2px dotted currentColor;
  display: inline-block;
  padding: 0px 7px;
}

.servicios p {
  color: #2E5180;
  font-size: 16px;
}

/* clase servicios*/
.caracteristicas figure img {
  width: 100%;
  height: 246px;
  vertical-align: bottom;
  margin-top: 53px;
}

.caracteristicas h3 {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 17px;
}

.caracteristicas p {
  font-size: 13px;
  max-width: 264px;
  margin: 0 auto 25px;
  line-height: 1.85;
  color: #333333;
}



/*Contacto*/
.contacto {
  background-color: #EEF4F8;
  padding: 62px 20px;
  color: #333333;
}

.contacto h2 {
  font-size: 26px;
  margin-bottom: 42px;
}

.contacto > p {
  font-size: 13px;
  line-height: 2;
}

.contacto form {
  margin-top: 46px;
}

.contacto form input[type="text"],
.contacto form input[type="email"],
.contacto form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 20px 14px;
  border: solid 1px #CDD6DD;
  margin-bottom: 10px;

  color: #333333;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.contacto form ::placeholder {
  color: #CDD6DD;
}

.contacto form textarea {
  height: 150px;
}

/*Botón enlaces*/
.btn {
  display: block;
  text-decoration: none;
  color: #2E5180;
  width: 248px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: solid 2px currentColor;
}

.contacto form input[type="submit"] {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  border: none;
  box-sizing: border-box;
  background-color: #2E5180;
  color: white;
  margin: 0;
  cursor: pointer;
}

/* 6. footer */
.pie {
  padding: 38px 0 56px;
  background-color: #2E5180;
}

.pie img {
  width: 27px;
  margin-right: 14px;
  float: left;
}

.pie p {
  color: white;
  font-size: 18px;
  font-weight: 900;
  line-height: 47px;
}

.pie address {
  color:white;
  font-size: 12px;
  font-style: normal;
  margin: 20px 0 36px 60px;
  line-height: 1.6;
}

.pie ul {
  list-style: none;
  margin-left: 60px;
}

.pie ul li img {
  width: 35px;
  height: 35px;
}